.navNew {
  background: url('https://www.lotro.com/images/global/header/mainNav_large_bg_tile_small.png?v=4101654087') repeat-x;
  padding-bottom: 0;
}
@font-face {
  font-family: Orc;
  src: url('../../public/fonts/OrcHordeBB_Reg.otf')
}
.orc {
  font-family: Orc;
}
.gold {
  font-family: Orc;
  color: goldenrod;
  a {
    color: goldenrod;
    &:hover {
      color: whitesmoke;
    }
  }
  &:hover {
    color: whitesmoke;
  }
}
.navbar-nav .show > .nav-link {
  color: whitesmoke;
}
.dropdown-menu.show {
  background-color: #181818;
  a:hover {
    background-color: #343434;
  }
}
